$sp-size: 600px;
$tablet-size: 960px;
$default-padding: 0.4rem;
$double-padding: calc(#{$default-padding} * 2);
$invert-padding: -$default-padding;
$half-padding: calc(#{$default-padding} / 2);
$invert-half-padding: calc(-#{$default-padding} / 2);
$border-radius: 0.3em;
$border-width: 2px;
$text-color: #333;
$subtext-color: #808080;
$accent-color: #ac0000;
$accent-background-color: #d68ca7;
$mask-color: rgba(#000, 0.35);
$label-color: #4d4d4d;
$main-color0: #666;
$main-color1: #bbb;
$main-color2: #eee;
$sub-color0: #deffe1;
$sub-color1: #ffff66;
$sub-color2: #ffff66;
$over-in-out: cubic-bezier(0.5, -0.45, 0.5, 1.45);
$over-out: cubic-bezier(0.5, 0, 0.5, 1.45);
$over-in: cubic-bezier(0.5, -0.45, 0.5, 1);
$z-background: -1000;
$z-ground: 0;
$z-front: 100;
$z-front-mask: 200;
$z-footer: 300;
$z-header: 300;
$z-menu: 500;
$z-popup: 700;
$z-auto: 800;
$z-switch: 1000;
